<div class="page">
  <page-title />

  <section class="py-4">
    <h2 class="text-2xl font-bold mb-4">Floating</h2>

    <div #trigger class="flex flex-col gap-2 w-[120px] p-2 m-auto items-center bg-base-300">
      @for (place of placementList; track place) {
        <button
          class="btn btn-sm w-[100px]"
          (click)="placement.set(place)"
        >
          {{ place }}
        </button>
      }

      <ngx-floating
        [trigger]="trigger"
        [placement]="placement()"
        [offset]="6"
        [arrowPadding]="20"
      >
        <div class="card bg-base-100 border-4 border-base-200">
          <div class="card-body items-center text-center">
            <h2 class="card-title">Floating</h2>
            <pre [innerText]="'<ngx-floating />'"></pre>
            <div class="card-actions">
              <button class="btn btn-sm btn-primary">{{ placement() }}</button>
            </div>
          </div>
        </div>

        <ngx-floating-arrow />
      </ngx-floating>
    </div>
  </section>
</div>
