.main {
  padding: 40px;
}

.tooltips {
  padding: 40px;
}

button {
  &[ngxTooltip] {
    padding: 10px;
    min-height: 100px;
  }
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #c7c7c7;
  background: #fff;

  &-trigger {
    padding: 10px;
    background: #dedede;
    display: flex;
    flex-direction: column;

    button {
      padding: 5px 50px;
    }
  }
}

.popover {
  padding: 8px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
}
