<div class="main">
  <div class="tooltips">
    @for (placement of placementList;track placement) {
      <button
        [ngxTooltip]="placement"
        [placement]="placement"
        [offset]="10"
        [arrow]="true"
      >
        {{placement}}
      </button>
    }
  </div>

  <br>
  <br>
  <br>

  <div class="center">
    <div #floatingTrigger class="floating-trigger">
      @for (button of placementList;track button) {
        <button
          (click)="placement = button"
          (mousemove)="placement = button"
          (focus)="placement = button"
        >
          {{ button }}
        </button>
      }
    </div>
  </div>

  <ngx-floating
    [trigger]="floatingTrigger"
    [placement]="placement"
    [offset]="10"
    [arrow]="true"
    [arrowPadding]="6"
  >
    <div class="floating">
      <p>{{ placement }}</p>
    </div>
  </ngx-floating>

  <br>
  <br>
  <br>

  <button
    #popover
    [ngxPopover]="popoverContent"
    [offset]="10"
    [ngxValue]="true"
  >
    Popover
  </button>

  <ng-template #popoverContent>
    <div class="popover">
      <p>I am popover!</p>
      <button
        (click)="popover.close()"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
