<main class="flex flex-col overflow-hidden">
  <div class="drawer" [class.drawer-open]="sidebar()">
    <input type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Page content here -->
      <dm-header
        (toggleSidebar)="sidebar.set(!sidebar())"
      />

      <router-outlet />
    </div>
    <div class="drawer-side">
      <ul class="menu p-4 w-full sm:w-60 min-h-full bg-base-200 text-base-content">
        @for (route of routes; track route.path) {
          <li>
            <a
              class="btn justify-start"
              [routerLink]="route.path"
              routerLinkActive="active-link"
            >
              <ng-template [ngComponentOutlet]="route.data?.['icon']" />
              <span class="text-lg">{{ route.data?.['name'] }}</span>
            </a>
          </li>
          @if (route.data?.['main']) {
            <div class="divider my-1"></div>
          }
        }

        <div class="flex-1"></div>
        <div class="divider my-1"></div>
        <button class="btn btn-sm" (click)="sidebar.set(false)">Close</button>
      </ul>
    </div>
  </div>
</main>
