<div class="main">
  <div class="tooltips">
    <button ngxTooltip="top-start" [offset]="10" [arrow]="true" placement="top-start">top-start</button>
    <button ngxTooltip="top" [offset]="10" [arrow]="true" placement="top">top</button>
    <button ngxTooltip="top-end" [offset]="10" [arrow]="true" placement="top-end">top-end</button>

    <button ngxTooltip="bottom-start" [offset]="10" [arrow]="true" placement="bottom-start">bottom-start</button>
    <button ngxTooltip="bottom" [offset]="10" [arrow]="true" placement="bottom">bottom</button>
    <button ngxTooltip="bottom-end" [offset]="10" [arrow]="true" placement="bottom-end">bottom-end</button>

    <button ngxTooltip="left-start" [offset]="10" [arrow]="true" placement="left-start">left-start</button>
    <button ngxTooltip="left" [offset]="10" [arrow]="true" placement="left">left</button>
    <button ngxTooltip="left-end" [offset]="10" [arrow]="true" placement="left-end">left-end</button>

    <button ngxTooltip="right-start" [offset]="10" [arrow]="true" placement="right-start">right-start</button>
    <button ngxTooltip="right" [offset]="10" [arrow]="true" placement="right">right</button>
    <button ngxTooltip="right-end" [offset]="10" [arrow]="true" placement="right-end">right-end</button>
  </div>

  <br>
  <br>
  <br>

  <div class="center">
    <div #floatingTrigger class="floating-trigger">
      @for (button of placementList;track button) {
        <button
          (click)="placement = button"
          (mousemove)="placement = button"
          (focus)="placement = button"
        >
          {{ button }}
        </button>
      }
    </div>
  </div>

  <ngx-floating
    [trigger]="floatingTrigger"
    [placement]="placement"
    [offset]="10"
    [arrow]="true"
    [arrowPadding]="6"
  >
    <div class="floating">
      <p>{{ placement }}</p>
    </div>
  </ngx-floating>

  <br>
  <br>
  <br>

  <button
    #popover
    [ngxPopover]="popoverContent"
    [offset]="10"
    [ngxValue]="true"
  >
    Popover
  </button>

  <ng-template #popoverContent>
    <div class="popover">
      <p>I am popover!</p>
      <button
        (click)="popover.close()"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
