<div class="page">
  <page-title description="The Portal component displays the content on the body by default or another DOM element." />

  <section class="py-4">
    <h2 class="text-4xl mb-4 font-bold">Usage</h2>

    <p class="text-xl">Default usage:</p>
    <div class="my-4">
      <highlight lang="html" [code]="portalUsageHtml" />
    </div>

    <p class="text-xl">Usage with bindTo</p>

    <div class="my-4">
      <highlight lang="html" [code]="portalUsageWithBindHtml" />
    </div>
  </section>
</div>
