<div class="page">
  <page-title description="The Floating component implements the floating-ui library for Angular." />

  <section class="py-4">
    <h2 class="text-4xl mb-4 font-bold">Usage</h2>

    <p class="text-xl">Default usage:</p>
    <div class="my-4">
      <highlight lang="html" [code]="example" />
    </div>

    <p>The floating component uses <a class="link" [routerLink]="['/', 'core', 'portal']">Portal</a> inside.</p>

    <div class="divider"></div>

    <h2 class="text-4xl mb-4 font-bold">Example</h2>

    <p>
      In the example below, the floating component is rendered
      inside the dotted area to limit its visibility.
    </p>

    <br>

    <section
      #wrapper
      class="border-2 border-dashed border-primary rounded min-h-[400px] max-w-[800px] m-auto flex items-center justify-center relative overflow-hidden"
    >
      <div #trigger class="flex flex-col gap-2 w-[120px] p-2 m-auto items-center bg-base-300">
        @for (place of placementList; track place) {
          <button
            class="btn btn-sm w-[100px]"
            [class.btn-accent]="place === placement()"
            (click)="placement.set(place)"
          >
            {{ place }}
          </button>
        }

        <ngx-floating
          [trigger]="trigger"
          [bindTo]="wrapper"
          [placement]="placement()"
          [middleware]="middleware"
        >
          <div class="card bg-base-100 border-4 border-base-200">
            <div class="card-body items-center text-center">
              <h2 class="card-title">Floating</h2>
              <pre [innerText]="'<ngx-floating />'"></pre>
              <div class="card-actions">
                <button class="btn btn-sm btn-primary">{{ placement() }}</button>
              </div>
            </div>
          </div>
          <ngx-floating-arrow [padding]="20" />
        </ngx-floating>
      </div>
    </section>

    <div class="divider"></div>

    <h2 class="text-4xl mb-4 font-bold">Configuration</h2>

    <p>There is a configuration token <code>NGX_FLOATING_CONFIG</code>.</p>
    <p>Please, use the <code>NgxFloatingConfig</code> class to change the default floating properties.</p>

    <div class="my-4">
      <highlight lang="typescript" [code]="configExample" />
    </div>
  </section>
</div>
