/*individual circle position*/
#circ1 {
  z-index: 1;
}

#circ2 {
  top: 50px;
  left: -40px;
}

#circ3 {
  top: 50px;
  left: -120px;
}

#circ4 {
  top: 30px;
  left: -60px;
}

#circ5 {
  top: 100px;
  left: -150px;
}

#circ6 {
  top: 100px;
  left: 130px;
}

/*circle shadows*/
#circ1shadow, #circ2shadow, #circ3shadow, #circ5shadow, #circ6shadow {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  transform: scale(.9, -.9);
}

#circ1shadow {
  background: -webkit-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  background: -moz-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  background: radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  top: 2px;
  z-index: 3;
}

#circ2shadow {
  background: -webkit-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  background: -moz-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  background: radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  top: 0;
}

#circ3shadow {
  background: -webkit-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  background: -moz-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  background: radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  top: 8px;
  transform: scale(.8, -.8);
}

#circ5shadow {
  background: -webkit-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: -moz-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  top: 0;
}

#circ6shadow {
  background: -webkit-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: -moz-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  top: 0;
}

/*style the clouds*/
.bigCloud {
  --landing-cloud-scale: 1;

  box-shadow: 10px 10px 5px 20px black inset;
  position: absolute;
  transform: scale(var(--landing-cloud-scale));

  &.reverse {
    transform: scale(-1, 1);
  }
}

/*style circles that make up clouds*/
.smallCircle {
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.95;
}

.middleCircle {
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.95;
}

.largeCircle {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.95;
}


@keyframes drift {
  from {
    left: 120%;
  }
  to {
    left: -25%;
  }
}
