<div
  [style.--landing-cloud-scale]="scale()"
  class="bigCloud"
  [class.reverse]="reverse()"
  id="cloud1"
>
  <div class="largeCircle" #circle id="circ1">
    <div class="largeCircle" id="circ1shadow"></div>
  </div>
  <div class="middleCircle" #circle id="circ2">
    <div class="middleCircle" id="circ2shadow"></div>
  </div>
  <div class="middleCircle" #circle id="circ3">
    <div class="middleCircle" id="circ3shadow"></div>
  </div>
  <div class="smallCircle" #circle id="circ4"></div>
  <div class="smallCircle" #circle id="circ5">
    <div class="smallCircle" id="circ5shadow"></div>
  </div>
  <div class="smallCircle" #circle id="circ6">
    <div class="smallCircle" id="circ6shadow"></div>
  </div>
</div>
