<div class="page">
  <page-title />

  <section class="py-4">
    <h2 class="text-4xl mb-4 font-bold">About</h2>
    <p>Core package provides main components to create dynamic components with
      <a
        href="https://floating-ui.com/"
        class="link"
        target="_blank"
      >
        floating-ui
      </a>
      .
    </p>
    <p class="text-lg py-4">
      <a [routerLink]="['/', 'core']" class="link inline-flex gap-2 items-center">
        <core-icon class="text-primary" /> Core package
      </a>
    </p>

    <highlight lang="bash" [code]="'npm i @ngx-popovers/core'" />

    <div class="divider"></div>

    <h2 class="text-4xl mb-4 font-bold">Components</h2>

    <div class="grid md:grid-cols-2 gap-4 py-4">
      @for (component of subcomponents; track component.path) {
        <div class="flex flex-col gap-2">
          <a
            [routerLink]="['/', 'core', component.path]"
            class="link inline-flex gap-2 items-center pb-2"
          >
            <span class="text-primary">
              <ng-template
                [ngComponentOutlet]="component.data?.['icon'] ?? null"
              />
            </span>
            <span>
              {{ component.title }}
            </span>
          </a>

          <p>{{ component.data?.['description'] }}</p>

          <span class="flex-1"></span>
          <div class="divider"></div>
        </div>
      }
    </div>

    <p>
      This package using by other components of this library.
      You can create any floating element you want with this core package.
      Head over to the pages below to check out demos of some ready-to-use child libraries
    </p>
  </section>
</div>
