:host {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.flip {
  display: flex;
  background: white;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.reference {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
  border: 1px dashed black;
  color: black;
}
